@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3>CESS Workspace </h3>
<address>
    Guru Nanak Dev University<br />
    Amritsar, Punjab<br />
    143005 
</address>

<h3>CESS Contacts</h3>
<address>
    Ayush Bhatia : 9855866070<br />
    Kavish Sareen : 9646205371 
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:cessgndu@gmail.com">cessgndu@gmail.com</a>
</address>