@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to CESS Activity Cell</h1>
    <p class="lead">Together We Make Difference</p>
    <p>
        @Html.ActionLink("Browse Events", "Index", "Events", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Development</h2>
        <p>We focus on development, organise various sessions for students that help in enhancing their skills.</p>
    </div>
    <div class="col-md-3">
        <h2>Members</h2>
        <p>We have over 300+ members in CESS. All the volunteers and members are categorized into various teams.</p>
    </div>
    <div class="col-md-3">
        <h2>Team Work</h2>
        <p>We work with Technical, Placement, Promotion and many more teams to perform various tasks at CESS.</p>
    </div>
    <div class="col-md-3">
        <h2>Achievements</h2>
        <p>We undertake various projects, organise competitions where students showcase their skills and win amazing prizes.</p>
    </div>
</div>